@media only screen and (min-width: 949px) {
    ul.titan-services {
        display: none;
    }
}
@media only screen and (min-width: 949px) {
    .top-nav li:hover, .titan-services li:hover {
        background: #333;
    }
}

@media only screen and (max-width: 948px) {
    .titan-services {
        display: block;
    }
}
@media only screen and (max-width: 1220px) {
    .quicklinks {
        display: none;
        z-index: 100;
    }
    .right-menu-active {
        display: block;
        background-color: #444;
        border-left-style: solid;
        border-left-color: #000;
        border-left-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #000;
        border-bottom-width: 2px;
    }
    .right-menu-active li {
        display: block;
        text-align: right;
        margin-bottom: 15px;
    }
    .right-menu-active li a {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }

    #tabsContainer{
        border-radius: 0px !important;
    }
    #directory-background{
        visibility: hidden;
        position: absolute;
    }
    .container{
        top: 20px !important;
    }
    /* Where Excellence and Opportunity Meet. */
    body > footer > div.topFooter > span{
        position: relative;
        top:7px;
        font-weight: 700; 
        color: #444;
    }

}
@media screen and (min-width:1880px) {
    .mobileEmergency-container {
        top: -34px;
        right: 17px;
    }
}
@media screen and (max-width:1879px) {
    .address-phone {
        width: 49%;
    }
    .mobileEmergency-container {
        top: -59px;
        right: 17px;
    }
    .mobile-emergency {
        top: 35px;
    }
    .mobile-emergency .fa-exclamation-triangle {
        top: 13px;
    }
    .resources-container {
        top: -29.5px;
    }
    .emergency-p {
        top: 23px;
    }
    .accredited-container {
        top: -73px;
    }
}
@media screen and (max-width:1879px) and (max-width:1731px) {
    .mobileEmergency-container {
        top: -34px;
    }
    .mobile-emergency {
        top: 10px;
    }
    .mobileEmergency-links {
        width: 61%}
    .emergency-p {
        top: -2px;
    }
}
@media screen and (max-width:1879px) and (max-width:1655px) {
    .mobileEmergency-container {
        top: -9px;
    }
    .mobile-emergency {
        top: -15px;
    }
    .mobileEmergency-links {
        width: 59%;
    }
}
@media screen and (max-width:1879px) and (max-width:1396px) {
    .address-phone {
         width: 47%;
    }
}
@media screen and (max-width:1879px) and (max-width:1360px) {
    .mobileEmergency-links {
        width: 53%
    }
}
@media screen and (max-width:1879px) and (max-width:1269px) {
    .address-phone {
        width: 48%;
    }

    .mobileEmergency-container {
        top: 16px;
    }
    .mobile-emergency div:not(:last-child) {
        margin-bottom: 25px;
    }
    .mobileEmergency-links {
        width: 50%
    }
}
@media screen and (max-width:1879px) and (max-width:1200px) {
    .address-phone {
        width: 46%;
    }
    .mobileEmergency-container {
        top: -34px;
    }
    .resources-container {
        top: -79.5px;
    }
    .accredited-container {
        top: -123px;
    }
}
@media screen and (max-width:1879px) and (max-width:1157px) {
    .mobileEmergency-container {
        top: -9px;
    }
    .mobile-emergency {
        top: -40px;
    }
    .mobileEmergency-links {
        width: 44%;
    }
}

@media screen and (max-width:1879px) and (max-width:1128px) {
    .address-phone {
        width: 47%;
    }
    .mobileEmergency-container {
        top: -9px;
    }
}
@media screen and (max-width:1879px) and (max-width:1088px) {
    .address-phone {
        width: 46%;
    }
    .mobileEmergency-container {
        top: -34px;
    }
    .mobileEmergency-links {
        width: 45%}
    .resources-container {
        top: -104.5px;
    }
    .accredited-container {
        top: -148px;
    }
}
@media screen and (max-width:1879px) and (max-width:1025px) {
    .wismap {
        display: none;
    }
    .address-phone {
        width: 91%;
    }
    .mobileEmergency-container {
        top: 16px;
    }
    .mobile-emergency {
        top: -15px;
    }
    .mobileEmergency-links {
        width: 62%}
    .resources-container {
        top: -29px;
    }
    .accredited-container {
        top: -74px;
    }
}
@media screen and (max-width:1879px) and (max-width:1015px) {
    .location-container {
        top: -25px;
    }
    .mobile-emergency {
        top: -40px;
    }
    .mobileEmergency-links {
        width: 51%}
    .resources-container {
        top: -54.5px;
    }
    .accredited-container {
        top: -99px;
    }
}
@media screen and (max-width:1879px) and (max-width:986px) {
    .resources-container {
         width: 25%;
    }
}
@media screen and (max-width:1879px) and (max-width:974px) {
    .accredited-container {
        top: 52px;
        width: 100px;
    }
    .accredited-uwo img {
        display: block;
    }
    .uwo-system {
        margin-left: 0;
        margin-top: 15px;
    }
}
@media screen and (max-width:1879px) and (max-width:930px) {
    .address-phone {
        width: 70%;
    }
}
@media screen and (max-width:1879px) and (max-width:820px) {
    .mid-child {
        width: 45%;
        margin: 25px 0;
    }
    .location-container {
        top: 25px;
    }
    .address-phone {
        width: 80%}
    .mobileEmergency-container {
        top: -9px;
    }
    .mobile-emergency {
        top: 40px;
    }
    .mobile-emergency div:not(:last-child) {
        margin-bottom: 5px;
    }
    .mobile-emergency .fa-exclamation-triangle {
        top: 8px;
    }
    .mobileEmergency-links {
        width: 76%}
    .emergency-p {
        top: 23px;
    }
    .resources-container {
        top: -25px;
    }
    .accredited-container {
        top: -70px;
    }
    .accredited-uwo img {
        display: inline;
    }
    .uwo-system {
        margin-left: 15px;
    }
}
@media screen and (max-width:1879px) and (max-width:798px) {
    .mobileEmergency-container {
        top: 16px;
    }
    .mobile-emergency {
        top: 20px;
    }
    .mobile-emergency div:not(:last-child) {
        margin-bottom: 10px;
    }
    .mobile-emergency .fa-exclamation-triangle {
        top: 3px;
    }
    .mobileEmergency-links {
        width: 75.3%;
    }
    .emergency-p {
        top: -2px;
    }
}
@media screen and (max-width:1879px) and (max-width:742px) {
    .location-container {
        top: 9px;
    }
    .address-phone {
        width: 90%;
    }
    .mobileEmergency-container {
        top: 25px;
    }
    .mobile-emergency {
        top: -5px;
    }
    .mobileEmergency-links {
        width: 74%;
    }
}
@media screen and (max-width:1879px) and (max-width:649px) {
    .mobileEmergency-links {
    width: 64%;
    }
}
@media screen and (max-width:1879px) and (max-width:591px) {
    .location-container {
         top: 34px;
    }
    .address-phone {
        width: 89%;
    }
}
@media screen and (max-width:1879px) and (max-width:565px) {
    .location-container {
         top: 9px;
    }
    .mobile-emergency div:not(:last-child) {
        margin-bottom: 35px;
    }
}
@media screen and (max-width:1879px) and (max-width:480px) {
    .mid-child {
        width: 90%;
    }
    .location-container {
        top: 25px;
    }
    .mobileEmergency-container {
        top: -11px;
        left: -15px;
    }
    .mobile-emergency {
        top: 45px;
    }
    .mobile-emergency div:not(:last-child) {
        margin-bottom: 10px;
    }
    .mobileEmergency-links {
        width: 77%;
    }
    .emergency-p {
        top: 23px;
    }
    .resources-container {
        top: -17px;
    }
    .accredited-container {
        top: -36px;
    }
}
@media screen and (max-width:948px) {
     .nav {
        height: 62px;
    }
    .pageSearch {
        color: #fff;
        display: relative;
        top: -36px;
        left: -120px;
    }
    .nav a.toggle-nav, .nav a.toggle-quickLinks {
        display: inline-block;
        color: #fff !important;
    }
    .toggle-nav {
        position: relative;
        left: 0;
        float: left;
        margin-left: 0;
        padding-left: 8px;
    }
    .topNav:hover {
        text-decoration: underline;
        background: none;
        padding-bottom: 0;
        padding-top: 0;
    }
    .nav:active ul, .nav ul {
        border: 2px solid #000;
        border-left: none;
        border-top: none;
        padding-left: 0 !important;
        z-index: 4;
    }
    .nav ul.top-nav {
        display: none;
    }
    .nav ul {
        position: absolute;
        background: #444;
        width: 195px;
    }
    .nav #main-navigation {
        top: 50px;
    }
    .nav li {
        display: block;
        text-align: left;
        margin: 0 0 15px;
    }

    ul.titan-services li {
        display: block;
    }
    .titan-services li {
        padding-bottom: 0;
        padding-left: 10px;
        margin: 0;
    }
    .toggle-quickLinks {
        position: absolute;
        float: right;
        right: 0;
    }
    .uwo-quickLinks:active ul, .uwo-quickLinks ul {
        border: 2px solid #000;
        border-right: none;
        border-top: none;
        top: -20px;
        z-index: 4;
    }
    .uwo-quickLinks ul.quick-links {
        display: none;
    }
    .uwo-quickLinks ul {
        position: absolute;
        background: #444;
        right: 0;
    }
    .uwo-quickLinks li {
        text-align: left;
        display: block;
        margin: 0 0 15px;
    }
    .uwo-quickLinks a {
        display: inline-block;
        color: #fff;
        top: 0;
        left: -15px;
    }
}
@media screen and (max-width:680px){
    
    #bootstrap-pills1{
        height: 110px; 
    }
    #bootstrap-pills2{
       height: 110px; 
   }
}
@media screen and (max-width:948px) and (max-width:610px) {
    .bottomFooter {
        height: 105px;
    }
    .socialMedia-footer {
        float: left;
        padding-left: 8.5px;
    }
    .logo-section {
        height: 172px;
    }
}

@media screen and (max-width:775px) and (max-width:412px) {
    .uwoLogo {
        top: -120px;
    }
    .nav ul {
        top: 45px;
    }
    .uwo-quickLinks:active ul, .uwo-quickLinks ul {
        top: -21px;
    }
    .mobileEmergency-container {
        width: 95%;
        left: -6px;
    }
    .mobileEmergency-links {
        width: 78.6%;
    }
}
@media screen and (max-width:775px) and (max-width:360px) {
    .socialMedia-footer a {
        padding-right: 18px;
    }
}
@media screen and (max-width:775px) and (max-width:320px) {
    .socialMedia-footer a {
        padding-right: 13px;
    }
}
