@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

.wrapper {
    text-align: center;
}
.toggle-nav, .toggle-quickLinks {
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    display: none;
    text-decoration: none;
}
.nav {
    position: relative;
    background: #444;
    height: 46px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .btn-primary{
    background-color: #666766;
    border-color: #666766;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #666766;
    color: white;
    border-color: #666766;
}
.nav-tabs{
    border-bottom: 1px solid #a2a1a2;
}
.nav-link{
    color: #000; 
    border: 1px solid white;
    margin-left: 5px; 
    margin-right: 5px;
}
.nav-link:hover{
    background-color:white;
    color: #666766;
    border-color: white;
}
.top-nav {
    position: relative;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
    height: 34px;
}
.top-nav li {
    height: 100%;
}
.top-nav-link {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff !important;
    text-decoration: none;
    display: inline-block;
}

.top-nav li:hover a {
    color: white !important;
}
.titan-services {
    font-size: 1rem;
    background: #444;
    padding: 15px;
    color: #fff !important;
    text-decoration: none;
}
.titanServices:hover {
    text-decoration: underline;
}
.titan-services li:not(:last-child) {
    padding-bottom: 20px;
}
ul.titan-services {
    background: #333;
    position: absolute;
    z-index: 4;
    text-align: left;
}
ul.titan-services li, ul li:hover ul.titan-services {
    display: block;
}

.logo-section {
    position: relative;
    top: -12px;
    height: 116px;
    background: #ffcc00;
    border-top: 5px solid white; 
}
.wordmark {
    height: 100px;
}

.wordmark-wrapper {
    float: left;
    display: inline-block;
}

.logoTitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    text-align: left;
    height: 100%;
    position: relative;
}

.container{
    max-width: 1200px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px; 
    position: relative;
    top: -150px;
    background-color: white; 
}
#directory{
    width: 1200px;
}
#directory-background{
    width: 100%;
    position: relative;
    top: -1px; 
}
#directory_length > label > select{
    width: 50px;
    height: 40px;
    font-size: 10px!important;
    float: left!important;
}
#directory_length > label{
   width: 175px;
   font-size: 0px !important;
}

.directory-title {
    display: inline-block;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
}
.pageSearch {
    position: relative;
    left: 428px;
    top: 14px;
}
.pageSearchIcon, .title {
    text-decoration: none;
    color: #000;
}
.tab-pane{
    margin-top: 20px;
}
#bootstrap-pills1, #bootstrap-pills2{
    margin-top: 15px;
    border-bottom: 1px solid #a2a1a2;
    height: 55px; 
}
#bootstrap-tabs, #bootstrap-pills1, #bootstrap-pills2 {
    background-color: #E2E2E2;
}

#search-btn{
    margin-top: 10px;
    display: block;
    cursor: pointer;
}
#search > div:nth-child(1) > div.col-md-8{
    box-sizing: border-box;
}
#search > div:nth-child(1) > div.col-md-4{
    box-sizing: border-box;
}

.body-container .tabLinks {
    text-align: center;
    width: 100%;
    padding: 2px 0;
    background: #444;
    position: relative;
    top: -28px;
}
.tabLinksTitle {
    position: relative;
    padding: 13px 25px;
    top: 2px;
    background: #b0b0b0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
}
.tabLinksTitle:hover {
    background: #d1d1d1;
    border: 1px solid #fff;
    border-bottom: none;
}
.tabLinks a {
    color: #444;
    text-decoration: none;
}
.white {
    background: #fff!important;
}
.retireTab, .updateTab {
    padding: 10px 25px;
    top: 5px;
}
.retireTab a, .updateTab a {
    position: relative;
    top: -3px;
}

.tabContent {
    display: none;
}
.tabContent:not(.searchContent) {
    width: 75.7%;
    margin: 0 auto;
}
.tabContent.active {
    display: inherit;
}

.printContent, .retireContent, .searchContent, .updateContent {
    max-width: 748px;
    height: 100%;
    position: relative;
    top: -15px;
    margin: 0 auto;
}
.retireContent, .searchContent {
    top: -25px;
}

.searchBy, .searchExample {
    width: 50%;
    display: inline-block;
}
.searchBy a {
    text-decoration: none;
    color: #333;
}
.searchBy input {
    position: relative;
    top: -102px;
    width: 265px;
    padding: 4px 0;
}
.searchBy button {
    position: relative;
    top: -102px;
    padding: 5px 10px;
    border-radius: 5px;
}

.searchTab-navLinks {
    background: #b0b0b0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: -102px;
    right: 40px;
}
.department {
    position: relative;
    top: -110px;
    display: none;
}
.department-select{
    cursor: pointer;
    display: inline-block;
}

.tabNav-white {
    background: #fff;
    border: 1px solid #b0b0b0;
    padding: 9px;
}
footer p b {
    font-size: 1rem!important;
}
/* Where Excellence and Opportunity Meet. */
body > footer > div.topFooter > span{
    position: relative;
    font-weight: 700; 
    
}
 /* wi logo */
 body > footer > div.middleFooter > div > div.location-container.mid-child > div.wismap > a > img{
    top: 0px;
}
.topFooter {
    text-align: center;
    color: #3b3b3b;
    background: #fec424;
    padding: 14.5px 0;
    font-size: 1rem;
}

.middleFooter {
    background: #b0b0b0;
    height: 100%;
    width: 100%;
    text-align: center;
}
.middleFooter a {
    text-decoration: none;
    color: #000;
}
.midFooter-container:after, .midFooter-container:before {
    content: "";
    display: table;
    clear: both;
}
.midFooter-container {
    text-align: center;
}
.location-container, .mobileEmergency-container {
    font-size: 0;
}
.mid-child {
    display: inline-block;
    width: 25%;
    text-align: left;
    margin: 50px 0;
}
.address-phone, .mobileEmergency-links, .resources-links {
    line-height: 25px;
}
.accredited-container, .emergency-p, .location-container, .mobile-emergency, .mobileEmergency-container, .resources-container {
    position: relative;
}
.wismap {
    width: 34%;
    vertical-align: top;
}
.address-phone, .wismap {
    display: inline-block;
    font-size: 1rem;
}
.wismap img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .6s ease;
    width: 90%;
    position: relative;
    top: 55px;
}
.wismap img:hover {
    -webkit-filter: none;
    filter: none;
}

.address-phone {
    width: 66%;
}

.mobile-emergency {
    top: 35px;
    text-align: center;
    width: 72px;
}
.mobile-emergency a:hover {
    color: #fec424;
}
.mobile-emergency .fa-mobile-alt {
    font-size: 60px;
    position: relative;
}
.mobile-emergency .fa-mobile {
    font-size: 60px;
    position: relative;
}
.mobile-emergency .fa-exclamation-triangle {
    font-size: 40px;
    position: relative;
    top: 13px;
}
.mobile-emergency, .mobileEmergency-links {
    display: inline-block;
    font-size: 1rem;
}
.mobileEmergency-links {
    width: 80%;
}

.desaturate{
    transition: all .6s ease;
}

.resources-container {
    position: relative;
    top: -4px;
    width: 20%;
}
.resources-links li {
    display: block;
    position: relative;
    right: 39.5px;
}
.resources-links li:hover {
    text-decoration: underline;
}
.accredited-container {
    width: 193px;
    top: -48px;
}
.uwo-system {
    margin-left: 10px;
}
.bottomFooter {
    background: #444;
    height: 63px;
}
.bottomFooter div {
    display: inline-block;
}
.bottomFooter div span{
    color: #DBDBDB;
}
.copyright {
    float: left;
    color: #b0b0b0;
    padding-top: 23px;
    padding-left: 10px;
}
#footer-social{
    float: right;
    padding: 15px;
}
#footer-social a{
    padding-right: 15px;
}
.socialMedia-footer {
    float: right;
    padding-top: 16px;
    padding-bottom: 15px;
}
.socialMedia-footer a {
    color: #b0b0b0;
    padding-right: 20px;
}
.fa-facebook-f:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #1da1f2;
}
.fa-instagram:hover {
    color: #f56040;
}
.fa-youtube:hover {
    color: #cd201f;
}
.fa-linkedin:hover {
    color: #0077b5;
}
.fa-pinterest-p:hover {
    color: #bd081c;
}
.fa-flickr:hover {
    color: #8032b0;
}

.emergency-p {
    top: 23px;
}

.quicklinks {
    position: absolute;
    right: 0;
}
.quicklinks ul {
    margin: 0;
    padding: 5px 0 0;
}
.quicklinks li {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.quicklinks a {
    color: #000;
    text-decoration: none;
}

.dropdown-menu{
     overflow-y: scroll;
    overflow-x: hidden; 
    height: 400px;
}
.hidden{
    display: none;
}


.results-row{
    display: none;
}

.department-row{
    display: none;
    margin-bottom: 30px;
}

#inputName{
    margin-top: 15px;
    margin-bottom: 15px;
}

#tabsContainer{
    background-color:  #E2E2E2;
    padding: 10px;
    border-radius: 5px;
  
}
#resultsContainer{
    padding-top: 15px;
}


.btn-primary:hover{
    background-color:white;
    color: #666766;
    border-color: white;
}

a{
    color: #666766;
}
a:hover{
    color: black;
}

.tab-content{
    margin-bottom: 15px;
}
 #update-information, #printed-directory, #retired-staff{
     padding-left: 15px;
     padding-right: 15px;
 }
 .dataTables_wrapper .dataTables_paginate .paginate_button{
     padding: 0px; 
 }
 .paginate_button :hover{
    border-left: 1px solid black; 
 }
 .paginate_button.disabled {
    display: none !important;
 }

 #results-table-body > tr > td > ul > li{
   display: block;
 }
 
 


 /* phone field */
 #inputPhone{
     margin-top: 15px;
     margin-bottom: 15px;
 }